/*
	Site colors 
*/
colors {
	color: #D7BCE8; 
	color: #8884FF;
	color: #5D576B;
	color: #D7E8BA;
	color: #FEF9FF;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    
    .featurette-heading {
      font-size: 50px;
    }
}

@media (max-width: 768px) {
  .col-sm-4 {
    margin: 0 auto;
  }
}

body {
  background: url('../images/geometry2.png') top left repeat;
}

h1, h2, h3, p, a {
  font-family: 'Roboto', sans-serif;
}

a {
  font-weight: bold; 
  color: #8884FF; 
}

a:hover {
  color: #D7BCE8;
}

.navbar {
  margin: 0;
}

.jumbotron {
  padding-top: 20px;
  margin-bottom: 70px;
  background-color: #5D576B;
}

.jumbotron h1 {
  color: #FEF9FF;
}

.jumbotron h2 {
  font-weight: 300;
  color: #D7E8BA;
}

.social-icons i {
  padding: 10px 10px;
}

.social-icons a {
  color: #FEF9FF;
}

.social-icons a:hover {
  color: #D7E8BA;
}

.facts-about-me h3 {
  font-weight: 300;
}

.project-description {
  margin-top: 20px;
}

.featurette-divider {
  margin: 30px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.projects {
  margin-bottom: 50px;
}

.project-divider {
  margin: 25px 0 0 20px;
  color: black;
}

.source-link {
  margin-bottom: 10px;
}

.project-details {
  margin-bottom: 20px;
}